* {
  background-color: antiquewhite;
  margin: 0px;
  box-sizing: border-box;
  border: 0px;
  margin: 0px;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  margin: 15px;
  margin-top: 60px;
  font-size: 40px;
}

#empty {
  text-align: center;
  margin: 15px;
}

body {
  background: antiquewhite;
  padding: 20px;
}

img {
  border: 1.5px solid black;
}

img:hover {
  box-shadow: 5px 5px 0px black;
  transform: matrix(1, 0, 0, 1, 4, -1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  gap: 20px; /* creates the space where we want it  */
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  margin: auto;
}

#url {
  border: 1px solid black;
  height: 34px;
  width: 260px;
  background-color: wheat;
  border-radius: 2px;
  margin-right: 5px;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  height: 34px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
}

button:hover {
  box-shadow: 5px 5px 0px black;
  transform: matrix(1, 0, 0, 1, 4, -1);
}

.hide {
  display: none;
}

.photo-style {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
}
