* {
  background-color: antiquewhite;
  box-sizing: border-box;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

.empty {
  text-align: center; /* needed to center the text */
  margin: 25px;
}

body {
  background: antiquewhite;
  padding: 0px 220px; /* helpful to push all the photos where I want them since the area of the grid becomes smaller */
}

img {
  border: 1.5px solid black;
}

img:hover {
  box-shadow: 5px 5px 0px black;
  transform: matrix(1, 0, 0, 1, 4, -1);
}

form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "name url"
  "description description"
  "button button";
  gap: 15px; /* creates the space where we want it  */
}

/* the input class is for the divs of the input and label */
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* the input box where the user types in stuff */
#url, #description, #project-name {
  border: 1px solid black;
  background-color: wheat;
  border-radius: 2px;
  padding: 10px;
}

#url-container {
  grid-area: url;
}

#title-container {
  grid-area: name;
}

#description-container {
  grid-area: description;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  height: 35px;
  width: 90px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  grid-area: button;
}

button:hover {
  box-shadow: 5px 5px 0px black;
  transform: matrix(1, 0, 0, 1, 4, -1);
}

.hide {
  display: none;
}

.photo-style {
  object-fit: cover;
  height: 200px;
  width: 200px;
}